.btn {
  background-color: #e1918a;
  border-radius: 5%;
  border: 1px solid #e1918a;
  height: 48px;
  color: white;
  width: 170px; }

.button2 {
  background-color: rgba(0, 0, 0, 0.247);
  color: white;
  border-radius: 5%;
  border: 1px solid white;
  width: 160px;
  height: 48px; }

.navigation {
  font-size: 20px;
  width: 100%;
  color: #666666; }

.nav {
  word-spacing: 20px; }

a {
  text-decoration: none; }

.logo {
  height: 40px;
  width: 30%;
  padding-right: 20%;
  position: relative;
  right: 100px; }

.g3heading {
  white-space: nowrap;
  border-bottom: 3px solid pink;
  width: 50px; }

.banner {
  background-image: url(../img/Code4CT.jpg);
  background-size: cover;
  height: 50px;
  background-repeat: no-repeat; }

.h-container {
  margin-bottom: 10%; }

.grid3img {
  width: 280px;
  height: 200px; }

.whoarewe {
  font-size: 24px; }

.g3para {
  font-size: 16px;
  color: #333333; }

.g3para2 {
  font-size: 14px; }

.icons {
  font-size: 40px;
  color: #E69286; }

.grid6img {
  height: 410px;
  width: 590px; }

.theteam {
  width: 270px;
  height: 250px; }

.fa-paper-plane {
  color: #E69286; }

h3 {
  font-size: 1.5rem; }

.portfolio {
  height: 300px; }

.our-awesome-portfolio {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  padding-top: 5%; }

.Rectangle-8 {
  width: 50px;
  height: 3px;
  background-color: #ee534f;
  margin-left: 48%; }

.Rectangle-8-copy {
  width: 277px;
  height: 1px;
  background-color: #e7e7e7; }

.portfolio-text {
  margin-left: 20%;
  margin-right: 20%;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #666666; }

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  color: white; }

.grid-container1 div {
  text-align: center;
  padding: 20px 0;
  font-size: 34px; }

.grid-container2 {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
  color: white;
  padding: 20%;
  height: 100px; }

.grid-container2 div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px; }

.g3-content {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-gap: 10px;
  color: #666666;
  padding: 10%; }

.g3-content div {
  padding: 1%; }

.item1 {
  grid-column: span 1;
  grid-row: span 2; }

.item2 {
  grid-column-start: 2;
  grid-column-end: 3; }

.item3 {
  grid-column-start: 3;
  grid-column-end: 4; }

.grid-container4 {
  color: #666666;
  padding-top: 3%;
  padding-left: 10%;
  height: 400px;
  background-color: #000000; }

.g4-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding-right: 10%;
  padding-bottom: 10%; }

.g4-container div {
  color: white;
  height: 200px;
  text-align: center;
  padding: 1%; }

.grid-container5 {
  background-color: white;
  color: #555555;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%; }

.g5-content {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-gap: 10px;
  color: white; }

.g5-content div {
  text-align: center; }

.item11 {
  grid-row: span 2; }

.grid-container6 {
  background-color: white;
  color: #555555;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4%; }

.g6-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  color: #555555; }

.g6-container div {
  font-size: 20px; }

.grid-container7 {
  background-color: black;
  color: white;
  height: 200px; }

.g7-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  color: white;
  padding-right: 10%;
  padding-bottom: 10%; }

.g7-container div {
  text-align: center;
  padding: 1%; }

.grid-container8 {
  background-color: white;
  height: 300px; }

.g8-content {
  display: grid;
  grid-template-columns: auto;
  color: #555555;
  padding-top: 4%;
  font-size: 20px; }

.g8-content div {
  height: 200px;
  text-align: center; }

.grid-container9 {
  background-color: black;
  color: #555555; }

.g9-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  color: white;
  height: 222px; }

.g9-content div {
  height: 50px;
  text-align: center; }

.grid-container10 {
  color: #555555;
  padding-top: 5%;
  height: 377px; }

.g10-content {
  display: grid;
  grid-template-columns: auto 15% 20% 20%;
  grid-gap: 10px;
  color: #555555; }

.g10-content div {
  height: 200px;
  text-align: left; }

.ul {
  font-size: 0.875em; }

.grid-container11 {
  background-color: black;
  color: white; }

.g11-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  color: white;
  background-color: #e1918a; }

.g11-content div {
  height: 40px;
  text-align: center; }

.grid-container-12 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  color: #666666;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 216px;
  margin-right: 216px; }

.grid-container-13 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  color: #666666; }

.item29 {
  margin-top: 9%;
  margin-left: 10%;
  margin-right: 4%;
  white-space: nowrap;
  color: #555555; }

.fab {
  font-size: 14px; }

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

body, html {
  margin: 0;
  height: 100%; }

.wrap {
  width: 100%;
  height: 222px;
  position: relative;
  overflow: hidden;
  background-color: black; }

.slide-container {
  position: absolute;
  left: 0;
  height: 100%; }

.slides {
  display: flex;
  flex: row;
  flex-wrap: no-wrap;
  height: 100%;
  margin: 0;
  padding: 0; }

.animate {
  animation: moveSlideshow 20s linear infinite; }

@keyframes moveSlideshow {
  100% {
    /*transform: translateX(calc(-100% + 100vw));*/
    transform: translate3d(calc(-100% + 100vw), 0, 0); } }
.slides li {
  display: block;
  box-sizing: border-box;
  width: 50vh; }

.slides li span {
  display: block;
  font-size: 10vh;
  line-height: 35vh; }

.partners {
  width: 200px;
  height: 200px; }

.aboutus {
  background-color: #e7e7e7;
  height: 320px; }

.abouttext {
  font-size: 14px;
  text-align: center;
  padding-top: 100px; }

.welcome-to-code4ct {
  width: 266px;
  height: 19px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #555555; }

.border-line {
  width: 50px;
  height: 3px;
  background-color: #ee534f; }

.image-here {
  width: 570px;
  height: 380px; }

.welcome-text {
  width: 514px;
  height: 171px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: justify;
  color: #666666; }

.button-4 {
  width: 160px;
  height: 40px;
  padding-top: 0px;
  background-color: #ee534f; }

.our-courses {
  font-family: Poppins;
  font-size: 16px;
  color: #ffffff; }

.image-here-2 {
  width: 600px;
  height: 550px; }

.who-we-are {
  width: 148px;
  height: 19px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #555555; }

.who-we-are-text {
  height: 550px; }

/*# sourceMappingURL=main.css.map */
