button {
  background-color: #e1918a;
  border-radius: 5%;
  border: 1px solid #e1918a;
  height: 48px;
  color: white;
  width: 170px; }

.button2 {
  background-color: rgba(0, 0, 0, 0.247);
  border: 1px solid white;
  width: 160px; }

.navigation {
  font-size: 20px;
  width: 100%;
  color: #666666; }

.nav {
  word-spacing: 20px; }

a {
  text-decoration: none; }

.logo {
  height: 40px;
  width: 30%;
  padding-right: 20%;
  position: relative;
  right: 100px; }

.g3heading {
  white-space: nowrap;
  border-bottom: 3px solid pink;
  width: 50px; }

.banner {
  background-image: url(../img/Code4CT.jpg);
  background-size: cover;
  height: 50px;
  background-repeat: no-repeat; }

.h-container {
  background-color: rgba(0, 0, 0, 0.288);
  margin-bottom: 10%; }

.grid3img {
  width: 280px;
  height: 200px; }

.whoarewe {
  font-size: 24px; }

.g3para {
  font-size: 16px; }

.g3para2 {
  font-size: 14px; }

.icons {
  font-size: 40px;
  color: #E69286; }

.grid6img {
  height: 410px;
  width: 590px; }

.theteam {
  width: 270px;
  height: 250px; }

.fas fa-paper-plane {
  color: #E69286; }

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  color: white; }

.grid-container1 div {
  text-align: center;
  padding: 20px 0;
  font-size: 34px; }

.grid-container2 {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
  color: white;
  padding: 20%;
  height: 100px; }

.grid-container2 div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px; }

.g3-content {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-gap: 10px;
  color: #666666;
  padding: 10%; }

.g3-content div {
  padding: 1%; }

.item1 {
  grid-column: span 1;
  grid-row: span 2; }

.item2 {
  grid-column-start: 2;
  grid-column-end: 3; }

.item3 {
  grid-column-start: 3;
  grid-column-end: 4; }

.grid-container4 {
  color: #666666;
  padding-top: 3%;
  padding-left: 10%;
  width: 1920px;
  height: auto;
  background-color: #000000; }

.g4-container {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 20px;
  padding-right: 10%;
  padding-bottom: 10%; }

.g4-container div {
  color: white;
  height: 200px;
  text-align: center;
  padding: 1%; }

.grid-container5 {
  background-color: white;
  color: #555555;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%; }

.g5-content {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-gap: 10px;
  color: white; }

.g5-content div {
  text-align: center; }

.item11 {
  grid-row: span 2; }

.grid-container6 {
  background-color: white;
  color: #555555;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4%; }

.g6-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  color: #555555; }

.g6-container div {
  font-size: 20px; }

.grid-container7 {
  background-color: black;
  color: white;
  padding-top: 3%;
  padding-left: 10%;
  height: 300px; }

.g7-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  color: white;
  padding-right: 10%;
  padding-bottom: 10%; }

.g7-container div {
  text-align: center;
  padding: 1%; }

.grid-container8 {
  background-color: white;
  padding: 7%; }

.g8-content {
  display: grid;
  grid-template-columns: auto;
  color: #555555;
  font-size: 20px; }

.g8-content div {
  height: 200px;
  text-align: center; }

.grid-container9 {
  background-color: grey;
  color: white;
  padding: 5%; }

.g9-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  color: white; }

.g9-content div {
  background-color: red;
  height: 50px;
  text-align: center; }

.grid-container10 {
  background-color: grey;
  color: white;
  padding: 7%; }

.g10-content {
  display: grid;
  grid-template-columns: auto 15% 20% 20%;
  grid-gap: 10px;
  color: white; }

.g10-content div {
  background-color: red;
  height: 200px;
  text-align: center; }

.grid-container11 {
  background-color: black;
  color: white;
  padding: 7%; }

.g11-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  color: white; }

.g11-content div {
  background-color: red;
  height: 40px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
