.btn {
  background-color: #e1918a;
  border-radius: 5%;
  border: 1px solid #e1918a;
  height: 48px;
  color: white;
  width: 170px; }

.btn:hover {
  padding-right: 5%; }

.button2 {
  background-color: rgba(0, 0, 0, 0.247);
  color: white;
  border-radius: 5%;
  border: 1px solid white;
  width: 160px;
  height: 48px; }

.submit {
  background-color: #e1918a;
  border-radius: 5%;
  border: 1px solid #e1918a;
  height: 40px;
  color: white;
  width: 100px; }

.readmore {
  background-color: #e1918a;
  border-radius: 5%;
  border: 1px solid #e1918a;
  height: 48px;
  color: white;
  width: 170px; }

.button-1 {
  margin-top: 30px;
  outline: 0;
  display: inline-block;
  padding: 10px 28px;
  color: white;
  border: 1px solid #e1918a;
  border-radius: 2px;
  background-color: #e1918a;
  text-align: center;
  cursor: pointer; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #E69286;
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 16px; }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */ }

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth; }

body, html {
  margin: 0;
  height: 100%; }

.navigation {
  font-size: 1.250em;
  width: 100%;
  color: #666666; }

.nav {
  word-spacing: 1.950em; }

a {
  text-decoration: none; }

a:hover {
  color: #e1918a; }

.fa-search {
  color: #e1918a; }

.logo {
  height: 2.500em;
  width: 30%;
  padding-right: 20%;
  position: relative;
  right: 6.250em; }

.g3heading {
  white-space: nowrap;
  border-bottom: 3px solid pink;
  width: 3.125em; }

.banner {
  background-image: url(../img/Code4CT.jpg);
  background-size: cover;
  height: 3.125em;
  background-repeat: no-repeat; }

.h-container {
  margin-bottom: 10%; }

.grid3img {
  width: 17.500em;
  height: 12.500em; }

.whoarewe {
  font-size: 1.500em; }

.item29 {
  margin-top: 9%;
  margin-left: 12%;
  margin-right: 4%;
  white-space: nowrap;
  color: #555555; }

.fab {
  font-size: 0.875em; }

.g3para {
  font-size: 1.000em;
  color: #333333; }

hr {
  border: 2px solid #E69286;
  margin: 0 200px 0 0; }

.g3para2 {
  font-size: 0.875em; }

.icons {
  font-size: 2.500em;
  color: #e1918a; }

.team-name {
  font-size: 1em; }

.position {
  font-size: 0.875em;
  color: #a4a5a5; }

.about-person {
  color: #a4a5a5;
  font-size: 0.875em; }

.fab {
  color: #a4a5a5; }

.grid6img {
  height: 25.625em;
  width: 36.875em; }

.theteam {
  width: 16.875em;
  height: 15.625em; }

.type {
  color: #e1918a; }

.aboutus {
  background-color: #e7e7e7;
  height: 20.000em; }

.abouttext {
  font-size: 0.875em;
  text-align: center;
  padding-top: 100px; }

.welcome-to-code4ct {
  width: 16.625em;
  height: 1.188em;
  font-family: Poppins;
  font-size: 1.500em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #555555; }

.border-line {
  width: 50px;
  height: 3px;
  background-color: #e1918a; }

.image-here {
  width: 570px;
  height: 380px; }

.welcome-text {
  width: 514px;
  height: 171px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: justify;
  color: #666666; }

.button-4 {
  width: 160px;
  height: 40px;
  padding-top: 0px;
  background-color: #e1918a; }

.our-courses {
  font-family: Poppins;
  font-size: 16px;
  color: #ffffff; }

.image-here-2 {
  width: 747px;
  height: 550px; }

.who-we-are {
  width: 148px;
  height: 19px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: left;
  color: #555555; }

.who-we-are-text {
  height: 550px; }

.vision {
  color: #e1918a;
  font-family: Poppins;
  font-size: 16px; }

.value {
  color: #e1918a;
  font-family: Poppins;
  font-size: 16px; }

.section_1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-start: 1;
  grid-column-end: 2; }

.section_1 {
  padding: 10%;
  background-color: white; }

.section_1 form .input-1 {
  border-radius: 4px;
  border: 1px #e7e7e7 solid;
  padding: 10px 20px; }

form .input-1 {
  border-radius: 4px;
  border: 1px #e7e7e7 solid;
  padding: 10px 22px; }

.input-2 {
  border-radius: 4px;
  border: 1px #e7e7e7 solid;
  width: 643px;
  height: 200px;
  padding: 10px; }

.counter-value {
  margin-top: 3%;
  border-top: 4px solid #e38f84;
  width: 7%;
  margin-left: 45%; }

.body-text2 {
  display: inline-block;
  margin-left: 80px; }

.section_1 .border2 {
  width: 30%;
  color: #e38f84;
  border-top: 3px solid;
  opacity: 30%; }

.section_1 .contact-box {
  display: flex;
  align-items: center; }

.section_1 img {
  width: 15px;
  border: #e7e7e7 solid 1px;
  border-radius: 4px;
  padding: 3px;
  display: inline-flex; }

.fa-paper-plane {
  color: #e1918a; }

.email {
  height: 40px;
  width: 350px; }

h3 {
  font-size: 1.5rem; }

.portfolio {
  height: 300px; }

.our-awesome-portfolio {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  padding-top: 5%; }

.Rectangle-8 {
  width: 50px;
  height: 3px;
  background-color: #e1918a;
  margin-left: 48%; }

.Rectangle-8-copy {
  width: 277px;
  height: 1px;
  background-color: #e7e7e7; }

.portfolio-text {
  margin-left: 20%;
  margin-right: 20%;
  font-family: Poppins;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #666666; }

.rows {
  padding-bottom: 5%; }

.item34 {
  color: white; }

.courses {
  background-color: #e7e7e7;
  height: 320px; }

.coursestext {
  font-size: 0.875em;
  text-align: center;
  padding-top: 100px; }

.gallery {
  width: 100%;
  height: 100%; }
  .gallery .gallery {
    transition: transform 0.3s ease-in-out; }
    .gallery .gallery .gallery:hover {
      transform: scale(1.2); }

.wrap {
  width: 100%;
  height: 222px;
  position: unset;
  position: relative;
  overflow: hidden;
  background-color: black; }

.slide-container {
  position: absolute;
  left: 0;
  height: 100%; }

.slides {
  display: flex;
  flex: row;
  flex-wrap: no-wrap;
  height: 100%;
  margin: 0; }

.animate {
  animation: moveSlideshow 20s linear infinite; }

@keyframes moveSlideshow {
  100% {
    /*transform: translateX(calc(-100% + 100vw));*/
    transform: translate3d(calc(-100% + 100vw), 0, 0); } }
.slides li {
  display: block;
  box-sizing: border-box;
  width: 50vh; }

.slides li span {
  display: block;
  font-size: 10vh;
  line-height: 35vh; }

.partners {
  width: 200px;
  height: 200px; }

.course-heading {
  text-align: center; }

.course-text {
  padding-top: 5%;
  border: #e1918a 1px solid; }

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  color: white;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 81px; }

.grid-container1 div {
  text-align: center;
  padding: 20px 0;
  font-size: 14px; }

.grid-container2 {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0;
  color: white;
  padding: 20%;
  height: 100px; }

.grid-container2 div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px; }

.g3-content {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-gap: 10px;
  color: #666666;
  padding: 10%; }

.g3-content div {
  padding: 1%; }

.item1 {
  grid-column: span 1;
  grid-row: span 2; }

.item2 {
  grid-column-start: 2;
  grid-column-end: 3; }

.item3 {
  grid-column-start: 3;
  grid-column-end: 4; }

.grid-container4 {
  color: #666666;
  padding-top: 3%;
  padding-left: 10%;
  height: 400px;
  background-color: #000000; }

.g4-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding-right: 10%;
  padding-bottom: 10%; }

.g4-container div {
  color: white;
  height: 200px;
  text-align: center;
  padding: 1%; }

.grid-container5 {
  background-color: white;
  color: #555555;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%; }

.g5-content {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-gap: 10px;
  color: white; }

.g5-content div {
  text-align: center; }

.item11 {
  grid-row: span 2; }

.grid-container6 {
  background-color: white;
  color: #555555;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4%; }

.g6-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  color: #555555; }

.grid-container7 {
  background-color: black;
  color: white;
  height: 200px; }

.g7-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  color: white;
  padding-right: 10%;
  padding-bottom: 10%; }

.g7-container div {
  text-align: center;
  padding: 1%; }

.grid-container8 {
  background-color: white;
  height: 300px; }

.g8-content {
  display: grid;
  grid-template-columns: auto;
  color: #555555;
  padding-top: 4%;
  font-size: 20px; }

.g8-content div {
  height: 200px;
  text-align: center; }

.grid-container9 {
  background-color: black;
  color: #555555; }

.g9-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  color: white;
  height: 222px; }

.g9-content div {
  height: 50px;
  text-align: center; }

.grid-container10 {
  color: #555555;
  padding-top: 5%;
  height: 377px; }

.g10-content {
  display: grid;
  grid-template-columns: auto 15% 20% 20%;
  grid-gap: 10px;
  color: #555555; }

.g10-content div {
  height: 200px;
  text-align: left; }

.ul {
  font-size: 0.875em; }

.grid-container11 {
  background-color: black;
  color: white; }

.g11-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  color: white;
  background-color: #e1918a; }

.g11-content div {
  height: 40px;
  text-align: center; }

.grid-container-12 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  color: #666666;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 216px;
  margin-right: 216px; }

.grid-container-13 {
  display: grid;
  grid-template-columns: 50% 45%;
  grid-gap: 10px;
  color: #666666;
  padding-top: 4%;
  padding-bottom: 4%; }

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px; }

.section1 {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%; }

.course-gcontainer {
  display: grid;
  grid-template-columns: 100px 70px 800px 70px 50px auto;
  border: 1px #e1918a solid;
  margin-left: 10%;
  margin-right: 10%;
  height: 100px;
  text-align: center; }

.course-gcontainer2 {
  display: grid;
  grid-template-columns: 100px 800px 70px 50px auto;
  border: 1px #e1918a solid;
  margin-left: 10%;
  margin-right: 10%;
  height: 150px;
  text-align: center; }

@media (max-width: 1350px) {
  .grid-container1 {
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-gap: 0;
    color: white;
    position: fixed;
    background-color: white;
    width: 100%; }

  .grid-container1 div {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    margin-right: 11%; }

  .navigation {
    font-size: 1.250em;
    color: #666666; }

  .nav {
    padding-right: 20%; }

  .logo {
    height: 2.500em;
    width: 30%;
    padding-left: 50%;
    position: relative; }

  .grid-container2 {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    color: white;
    padding: 10%;
    height: 300px; }

  .grid-container2 div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px; }

  .g3-content {
    display: grid;
    grid-template-columns: 40% 35% 35%;
    grid-gap: 10px;
    color: #666666;
    padding: 10%; }

  .g3-content div {
    padding: 1%; }

  .grid3img {
    width: 17.500em;
    height: 12.500em; }

  .grid-container4 {
    color: #666666;
    padding-top: 3%;
    padding-left: 10%;
    height: 500px;
    background-color: #000000; }

  .g4-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding-right: 10%;
    padding-bottom: 10%; }

  .g4-container div {
    color: white;
    height: 200px;
    text-align: center;
    padding: 1%; }

  .grid-container5 {
    background-color: white;
    color: #555555;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%; }

  .g5-content {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-gap: 10px;
    color: white; }

  .g5-content div {
    text-align: center; }

  .grid6img {
    height: 100%;
    width: 100%; }

  .grid3img {
    width: 100%;
    height: 100%; }

  .grid-container6 {
    background-color: white;
    color: #555555;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%; }

  .g6-container {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: auto auto;
    grid-gap: 35px;
    color: #555555; }

  .grid-container10 {
    color: #555555;
    padding-top: 5%;
    height: 377px; }

  .g10-content {
    display: grid;
    grid-template-columns: 45% 15% 20% 20%;
    grid-gap: 20px;
    color: #555555; }

  .g10-content div {
    height: 200px;
    text-align: left; } }
@media (max-width: 1000px) {
  .grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    color: white;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 120px; }

  .grid-container1 div {
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
    margin-right: 17%; }

  .navigation {
    font-size: 1.250em;
    color: #666666; }

  .nav {
    padding-right: 20%; }

  .logo {
    height: 2.500em;
    width: 30%;
    padding-left: 70%;
    position: relative; }

  .grid3img {
    width: 100%;
    height: 100%; }

  .g3-content {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-gap: 10px;
    color: #666666; }

  .grid-container4 {
    color: #666666;
    padding-top: 3%;
    padding-left: 10%;
    height: 600px;
    background-color: #000000; }

  .g4-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding-right: 10%;
    padding-bottom: 10%; }

  .g4-container div {
    color: white;
    height: 200px;
    text-align: center;
    padding: 1%; }

  .grid-container6 {
    background-color: white;
    color: #555555;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 4%; }

  .g6-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-gap: 50px;
    color: #555555; }

  .theteam {
    width: 80%;
    height: 80%; }

  .grid-container7 {
    background-color: black;
    color: white;
    height: 200px; }

  .g7-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px;
    color: white;
    padding-bottom: 10%; }

  .g7-container div {
    padding: 1%; }

  .counter-value {
    margin-top: 5%;
    border-top: 4px solid #e38f84;
    width: 12%;
    margin-left: 10%; }

  .grid-container10 {
    color: #555555;
    padding-top: 5%;
    height: 377px; }

  .g10-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    color: #555555;
    padding-left: 15%; }

  .g10-content div {
    height: 200px;
    text-align: left; }

  .footer-hd {
    padding-left: 9%; }

  .grid-container11 {
    background-color: white;
    color: white;
    padding-top: 7%; }

  .g11-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    color: white;
    background-color: #e1918a; }

  .g11-content div {
    height: 40px;
    text-align: center; } }
@media (max-width: 765px) {
  .grid-container2 {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    background-color: black;
    color: white;
    padding: 10%;
    height: 500px; }

  .searchbox {
    width: 10%; }

  .grid-container2 div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px; }

  .grid3img {
    width: 100%;
    height: 100%; }

  .g3-content {
    display: grid;
    grid-template-columns: 35% 30% 30%;
    grid-gap: 10px;
    color: #666666; }

  .grid-container4 {
    color: #666666;
    padding-top: 3%;
    padding-left: 10%;
    height: 700px;
    background-color: #000000; }

  .g4-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding-right: 10%;
    padding-bottom: 10%; }

  .g4-container div {
    color: white;
    height: 200px;
    text-align: center;
    padding: 1%; }

  .grid-container6 {
    background-color: white;
    color: #555555;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 4%; }

  .g6-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-gap: 50px;
    color: #555555; }

  .theteam {
    width: 70%;
    height: 70%; } }
@media (max-width: 685px) {
  .g3-content {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    color: #666666;
    height: 2000px; }

  .grid3img {
    width: 100%;
    height: 100%; }

  .item1 {
    grid-column: span 1;
    grid-row: span 1; }

  .item2 {
    grid-column-start: 1;
    grid-column-end: 1; }

  .item3 {
    grid-column-start: 1;
    grid-column-end: 1; }

  .grid-container4 {
    color: #666666;
    padding-top: 3%;
    padding-left: 10%;
    height: 400px;
    background-color: #000000;
    height: 1024px; }

  .g4-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding-right: 10%;
    padding-bottom: 10%;
    height: 1139px; }

  .g4-container div {
    color: white;
    height: 200px;
    text-align: center;
    padding: 1%; } }
#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative; }

.counter-text {
  color: white; }

.map {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

/*# sourceMappingURL=main.css.map */
