// My global imports

@import 'partials/_variables',
        'partials/_components',
        'partials/_base',
        'partials/_grids',
        'partials/_responsive';

       
    //    'partials/variables',
    //    'partials/base',
    // 'partials/components',
    //    'partials/responsive', ;

    .item29{
        margin-top: 9%;
        margin-left: 10%;
        margin-right: 4%;
        white-space: nowrap;
        color: #555555;
    }
    .fab{
        font-size: 14px;
    }

    body {
      background-color: #FFFFFF;
      margin: 0;
      font-family: 'Poppins', sans-serif;
  }

    body, html{
        margin:0;
        height:100%;
      }
      
      .wrap{
        width: 100%;
        height:222px;
        position: relative;
        overflow:hidden;
        background-color: black;
      }
      
      .slide-container{
        position:absolute;
        left:0;
        height:100%;
      }
      
      .slides{
        display:flex;
        flex:row;
        flex-wrap:no-wrap;
        height: 100%;;
        margin:0;
        padding:0;
      }
      
      .animate{
        animation: moveSlideshow 20s linear infinite;
      }
      
      @keyframes moveSlideshow {
        100% {
          /*transform: translateX(calc(-100% + 100vw));*/
          transform: translate3d(calc(-100% + 100vw), 0, 0);
        }
      }
      
      .slides li{
        display: block;
        box-sizing:border-box;
        width:50vh;
        
        
      }
      
      
      
      .slides li span{
        display:block;
        font-size:10vh;
        line-height:35vh;
      }

      .partners{
          width: 200px;
          height: 200px;
      }

      // for about page

      .aboutus{
        background-color: #e7e7e7;
        height: 320px;
        
      }
      .abouttext{
        font-size: 14px;
        text-align: center;
        padding-top: 100px;
      }
      // about section

      .welcome-to-code4ct {
        width: 266px;
        height: 19px;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: normal;
        text-align: left;
        color: #555555;
      }
      .border-line{
        width: 50px;
        height: 3px;
        background-color: $pink;

      }
      
      .image-here {
        width: 570px;
        height: 380px;
      }
      .welcome-text {
        width: 514px;
        height: 171px;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: normal;
        text-align: justify;
        color: #666666;
      }
      .button-4 {
        width: 160px;
        height: 40px;
        padding-top: 0px;
        background-color: $pink;
      }
      .our-courses {
        font-family: Poppins;
        font-size: 16px;
        color: #ffffff;
      }


      .image-here-2 {
        width: 600px;
      
        height: 550px;
      }

      .who-we-are {
        width: 148px;
        height: 19px;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: normal;
        text-align: left;
        color: #555555;
      }
      .who-we-are-text{
        
        height: 550px;
      
      }

      .vision{
        color: $pink;
        font-family: Poppins;
        font-size: 16px;
    
      }
      .value{
        color: $pink;
        font-family: Poppins;
        font-size: 16px;
      }

      // contact section
      .section_1 {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-start: 1;
          grid-column-end: 2;
      }
      .section_1 {
        padding: 10%;
        background-color: white;
    }
      .section_1 form .input-1 {
        border-radius: 4px;
        border: 1px #e7e7e7 solid;
        padding: 12px 24px;
    }
    form .input-1 {
      border-radius: 4px;
      border: 1px #e7e7e7 solid;
      padding: 10px 27px;
  }
  .input-2 {
    border-radius: 4px;
    border: 1px #e7e7e7 solid;
    width: 643px;
    height: 200px;
    padding: 10px;
}
.button-1 {
  margin-top: 30px;
  outline: 0;
  display: inline-block;
  padding: 10px 28px;
  color: white;
  border: 1px solid $pink;
  border-radius: 2px;
  background-color: $pink;
  text-align: center;
  cursor: pointer;
}

.body-text2 {
  display: inline-block;
  margin-left: 80px;
}
.section_1 .border2 {
  width: 30%;
  color: #e38f84;
  border-top: 3px solid;
  opacity: 30%;
}
.section_1 .contact-box {
  display: flex;
  align-items: center;
}
.section_1 img {
  width: 15px;
  border: #e7e7e7 solid 1px;
  border-radius: 4px;
  padding: 3px;
  display: inline-flex;
}
    
     


