 .navigation{
     font-size: 20px;
     width: 100%;
     
 }
 .nav{
    word-spacing: 10px;

 }
 .logo{
     height: 40px;
     width: 30%;
     padding-right: 20%;
     
 }
 
 .banner{
     background-image: url(../img/Code4CT.jpg);
     height: 50px;
     background-repeat: no-repeat;
 }
 .h-container{
     background-color: rgba(0, 0, 0, 0.288);
     margin-bottom: 10%;
 }