 .navigation{
     font-size: 20px;
     width: 100%;
     color: $grey;
     
 }
 .nav{
    word-spacing: 20px;
   

 }
 a{
     text-decoration: none;
     
 }
 .logo{
     height: 40px;
     width: 30%;
     padding-right: 20%;
     position: relative;
     right: 100px;
     
 }
 .g3heading{
     white-space: nowrap;
     border-bottom: 3px solid pink;
     width: 50px;
 }
 .banner{
     background-image: url(../img/Code4CT.jpg);
     background-size: cover;
     height: 50px;
     background-repeat: no-repeat;
 }
 .h-container{
     background-color: rgba(0, 0, 0, 0.288);
     margin-bottom: 10%;
 }
 .grid3img{
    width: 280px;
    height: 200px;
}

.whoarewe{
    font-size: 24px;
}
.g3para{
    font-size: 16px;
}
.g3para2{
    font-size:14px;
}

.icons{
    font-size: 40px;
    color: #E69286;
}
.grid6img{
    height: 410px;
    width:590px;
}
.theteam{
    width: 270px;
    height: 250px;
}

.fas fa-paper-plane{
    color: #E69286;
}