
@import 'partials/variables';

button{
    background-color: $pink;
    border-radius: 5%; 
    border: 1px solid $pink;
    height: 48px;
    color: $white;
    width:170px;
}

.button2{
    background-color: rgba(0, 0, 0, 0.247);
    border: 1px solid $white;
    width: 160px;
}