

.grid-container1{
    display: grid;
    // creating columns
    grid-template-columns:1fr 1fr 1fr;
    // creating spaces between items or blocks
    grid-gap: 0;
    // background-color: black;
    color: white;
    // padding: 10px; 
}

.grid-container1 div {
    text-align: center;
    padding: 20px 0;
    font-size: 34px;
}

.grid-container2{
    display: grid;
    // columns
    grid-template-columns: 100%;
    // spaces between blocks
    grid-gap: 0;
    // background-color: black;
    color: white;
    padding: 20%;
    height: 100px;
    
}

.grid-container2 div{
    // background-color: red;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
   
}


.g3-content{
    display: grid;
    // columns
    grid-template-columns: 50% 25% 25%;
    // spaces between blocks
    grid-gap: 20px;
    background-color: black;
    color: white;
    padding: 10%;
}

.g3-content div{
    background-color: red;
    text-align: center;
    padding: 1%;
    
}

.item1{
    grid-column: span 1;
    grid-row: span 2;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 3
}
.item3{
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid-container4{
    background-color: black;
    color: white;
    padding-top: 3%;
    padding-left: 10%;
}

.g4-container{
    display: grid;
    // columns
    grid-template-columns: auto auto auto;
    // spaces between blocks
    grid-gap: 20px;
    background-color: black;
    color: white;
    padding-right: 10%;
    padding-bottom: 10%;
}

.g4-container div{
    background-color: red;
    height: 200px;
    text-align: center;
    padding: 1%;
    
}

.grid-container5{
    background-color: black;
    color: white;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.g5-content{
    display: grid;
    // columns
    grid-template-columns: 25% 25% 50%;
    // spaces between blocks
    grid-gap: 20px;
    background-color: black;
    color: white;
    height: 300px;
    
}

.g5-content div{
    background-color: red;
    text-align: center;
    padding: 20px;
    
}
.item11{
    grid-row: span 2;
}


.grid-container6{
    background-color: black;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
}
.g6-container{
    display: grid;
    // columns
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    // spaces between blocks
    grid-gap: 10px;
    background-color: black;
    color: white;
}

.g6-container div{
    background-color: red;
    text-align: center;
    font-size: 20px;
    height: 200px;
}

.grid-container7{
    background-color: grey;
    color: white;
    padding-top: 3%;
    padding-left: 10%;
}

.g7-container{
    display: grid;
    // columns
    grid-template-columns: auto auto auto auto;
    // spaces between blocks
    grid-gap: 20px;
    color: white;
    padding-right: 10%;
    padding-bottom: 10%;
}

.g7-container div{
    background-color: red;
    height: 200px;
    text-align: center;
    padding: 1%;
    
}
.grid-container8{
    background-color: black;
    color: white;
    padding:7%;
}

.g8-content{
    display: grid;
    // columns
    grid-template-columns: auto ;
    // spaces between blocks
    color: white;
   
}

.g8-content div{
    background-color: red;
    height: 200px;
    text-align: center;
}

.grid-container9{
    background-color: grey;
    color: white;
    padding: 5%;
}

.g9-content{
    display: grid;
    // columns
    grid-template-columns: auto auto auto auto auto auto ;
    // spaces between blocks
    grid-gap: 10px;
    color: white;
    
   
}

.g9-content div{
    background-color: red;
    height: 50px;
    text-align: center;
}

.grid-container10{
    background-color: grey;
    color: white;
    padding:7%;
}

.g10-content{
    display: grid;
    // columns
    grid-template-columns: auto 15% 20% 20% ;
    // spaces between blocks
    grid-gap: 10px;
    color: white;
   
}

.g10-content div{
    background-color: red;
    height: 200px;
    text-align: center;
}

//footer for thenhome page

.grid-container11{
    background-color: black;
    color: white;
    padding:7%;
}

.g11-content{
    display: grid;
    // columns
    grid-template-columns: auto auto ;
    // spaces between blocks
    grid-gap: 10px;
    color: white;
   
}

.g11-content div{
    background-color: red;
    height: 40px;
    text-align: center;
}













