

.grid-container1{
    display: grid;
    // creating columns
    grid-template-columns:1fr 1fr 1fr;
    // creating spaces between items or blocks
    grid-gap: 0;
    // background-color: black;
    color: white;
    // padding: 10px; 
    position: fixed;
    background-color: white;
    width: 100%;
    height: 81px;
}

.grid-container1 div {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.grid-container2{
    display: grid;
    // columns
    grid-template-columns: 100%;
    // spaces between blocks
    grid-gap: 0;
    // background-color: black;
    color: white;
    padding: 20%;
    height: 100px;
    
}

.grid-container2 div{
    // background-color: red;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
   
}


.g3-content{
    display: grid;
    // columns
    grid-template-columns: 50% 25% 25%;
    // spaces between blocks
    grid-gap: 10px;
    color: #666666;
    padding: 10%;
}

.g3-content div{
    padding: 1%;
    
}

.item1{
    grid-column: span 1;
    grid-row: span 2;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 3
}
.item3{
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid-container4{
    color: #666666;
    padding-top: 3%;
    padding-left: 10%;
    height: 400px;
    background-color: #000000;
}

.g4-container{
    display: grid;
    // columns
    grid-template-columns: auto auto auto auto;
    // spaces between blocks
    grid-gap: 20px;
    padding-right: 10%;
    padding-bottom: 10%;
}

.g4-container div{
    color: white;
    height: 200px;
    text-align: center;
    padding: 1%;
    
}

.grid-container5{
    background-color:white ;
    color: #555555;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.g5-content{
    display: grid;
    // columns
    grid-template-columns: 25% 25% 50%;
    // spaces between blocks
    grid-gap: 10px;
    
    color: white;
}

.g5-content div{
    text-align: center;
   
}
.item11{
    grid-row: span 2;
}


.grid-container6{
    background-color: white;
    color: #555555;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
}
.g6-container{
    display: grid;
    // columns
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
    // spaces between blocks
    grid-gap: 20px;
    color: #555555;
}

.g6-container div{
    
    
}

.grid-container7{
    background-color: black;
    color: white;
    
    height: 200px;;
}

.g7-container{
    display: grid;
    // columns
    grid-template-columns: auto auto auto auto;
    // spaces between blocks
    grid-gap: 20px;
    color: white;
    padding-right: 10%;
    padding-bottom: 10%;
    
}

.g7-container div{
    text-align: center;
    padding: 1%;
    
    
}
.grid-container8{
    background-color: white;
    height: 300px;
}

.g8-content{
    display: grid;
    // columns
    grid-template-columns: auto ;
    // spaces between blocks
    color: #555555;
    padding-top: 4%;
    font-size: 20px;
   
}

.g8-content div{
    height: 200px;
    text-align: center;
}

.grid-container9{
    background-color: black;
    color: #555555;
}

.g9-content{
    display: grid;
    // columns
    grid-template-columns: auto auto auto auto auto auto ;
    // spaces between blocks
    grid-gap: 10px;
    color: white;
    height: 222px;
    
   
}

.g9-content div{
    height: 50px;
    text-align: center;
}

.grid-container10{
    color: #555555;
    padding-top: 5%;
    height: 377px;
   
}

.g10-content{
    display: grid;
    // columns
    grid-template-columns: auto 15% 20% 20% ;
    // spaces between blocks
    grid-gap: 10px;
    color:#555555;
   
}


.g10-content div{
    height: 200px;
    text-align: left;
    
}
.ul{
    font-size: 0.875em;

}



//footer for then home page

.grid-container11{
    background-color: black;
    color: white;
    
}

.g11-content{
    display: grid;
    // columns
    grid-template-columns: auto auto ;
    // spaces between blocks
    grid-gap: 10px;
    color: white;
    background-color: #e1918a;
   
}

.g11-content div{
    height: 40px;
    text-align: center;
}

.grid-container-12{
    display: grid;     
    // columns
    grid-template-columns: 50% 50%;
    // spaces between blocks
    grid-gap: 10px;
    color: #666666;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 216px;
    margin-right: 216px;
    }


    .grid-container-13{
        display: grid;
        // columns
        grid-template-columns: 50% 45%;
        // spaces between blocks
        grid-gap: 10px;
        color: #666666;
        padding-top: 4%;
        padding-bottom: 4%;;
    }

    // portfolio

.row{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
}

.section1{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

}


