.grid-container1{
    display: grid;
    // creating columns
    grid-template-columns: 33,4% auto 33.3%;
    // creating spaces between items or blocks
    grid-gap: 0;
    background-color: black;
    color: white;
    padding: 10px; 
}

.grid-container1 div {
    background-color: red;
    text-align: center;
    padding: 20px 0;
    font-size: 34px;
}

.grid-container2{
    display: grid;
    // columns
    grid-template-columns: 100%;
    // spaces between blocks
    grid-gap: 0;
    background-color: black;
    color: white;
    padding: 20%;
}

.grid-container2 div{
    background-color: red;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
