// global for resposiveness

@media  (max-width: 1350px){
    .grid-container1{
        display: grid;
        // creating columns
        grid-template-columns:auto 500px auto;
        // creating spaces between items or blocks
        grid-gap: 0;
        // background-color: black;
        color: white;
        // padding: 10px; 
        position: fixed;
        background-color: white;
        width: 100%;
        
    }
    .grid-container1 div {
        text-align: center;
        padding: 20px 0;
        font-size: 14px;
        margin-right: 11%;
    }
    .navigation{
        font-size: 1.250em;
        
        color: $grey;
        
    }
    .nav{
       
       padding-right: 20%;
    }

    .logo{
        height: 2.500em;
        width: 30%;
        padding-left: 50%;
        position: relative;
    }
    .grid-container2{
        display: grid;
        // columns
        grid-template-columns: 100%;
        // spaces between blocks
        grid-gap: 0;
        // background-color: black;
        color: white;
        padding: 10%;
        height: 300px;
        
    }
    
    .grid-container2 div{
        // background-color: red;
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
       
    }
    
    
    // who we are responsiveness
    .g3-content{
        display: grid;
        // columns
        grid-template-columns: 40% 35% 35%;
        // spaces between blocks
        grid-gap: 10px;
        color: #666666;
        padding: 10%;
    }
    
    .g3-content div{
        padding: 1%;
        
    }

    .grid3img{
        width: 17.500em;
        height: 12.500em;
    }

    .grid-container4{
        color: #666666;
        padding-top: 3%;
        padding-left: 10%;
        height: 500px;
        background-color: #000000;
    }
    
    .g4-container{
        display: grid;
        // columns
        grid-template-columns: auto auto auto auto;
        // spaces between blocks
        grid-gap: 20px;
        padding-right: 10%;
        padding-bottom: 10%;
    }
    
    .g4-container div{
        color: white;
        height: 200px;
        text-align: center;
        padding: 1%;
        
    }

    .grid-container5{
        background-color:white ;
        color: #555555;
        padding-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }
    
    .g5-content{
        display: grid;
        // columns
        grid-template-columns: 25% 25% 50%;
        // spaces between blocks
        grid-gap: 10px;
        
        color: white;
    }
    
    .g5-content div{
        text-align: center;
    }
    .grid6img{
        height: 100%;
        width:100%;
    }
    .grid3img{
        width: 100%;
        height: 100%;
    }


    .grid-container6{
        background-color: white;
        color: #555555;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 4%;
    }
    .g6-container{
        display: grid;
        // columns
        grid-template-columns: 30% 30% ;
        grid-template-rows: auto auto;
        // spaces between blocks
        grid-gap: 35px;
        color: #555555;
    }
    .grid-container10{
        color: #555555;
        padding-top: 5%;
        height: 377px;
       
    }
    
    .g10-content{
        display: grid;
        // columns
        grid-template-columns: 45% 15% 20% 20% ;
        // spaces between blocks
        grid-gap: 20px;
        color:#555555;
       
    }
    
    .g10-content div{
        height: 200px;
        text-align: left;
        
    }
    
   
}

@media  (max-width: 1000px){
    .grid-container1{
        display: grid;
        // creating columns
        grid-template-columns:1fr 1fr 1fr;
        // creating spaces between items or blocks
        grid-gap: 0;
        // background-color: black;
        color: white;
        // padding: 10px; 
        position: fixed;
        background-color: white;
        width: 100%;
        height: 120px;
        
    }
    .grid-container1 div {
        text-align: center;
        padding: 20px 0;
        font-size: 13px;
        margin-right: 17%;
    }
    .navigation{
        font-size: 1.250em;
        
        color: $grey;
        
    }
    .nav{
       
       padding-right: 20%;
    }

    .logo{
        height: 2.500em;
        width: 30%;
        padding-left: 70%;
        position: relative;
    
        
    }
    .grid3img{
        width: 100%;
        height: 100%;
    }
    .g3-content{
        display: grid;
        // columns
        grid-template-columns: 40% 30% 30%;
        // spaces between blocks
        grid-gap: 10px;
        color: #666666;
    }

    .grid-container4{
        color: #666666;
        padding-top: 3%;
        padding-left: 10%;
        height: 600px;
        background-color: #000000;
    }
    
    .g4-container{
        display: grid;
        // columns
        grid-template-columns: auto auto auto auto;
        // spaces between blocks
        grid-gap: 20px;
        padding-right: 10%;
        padding-bottom: 10%;
    }
    
    .g4-container div{
        color: white;
        height: 200px;
        text-align: center;
        padding: 1%;
        
    }

    .grid-container6{
        background-color: white;
        color: #555555;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 4%;
    }
    .g6-container{
        display: grid;
        // columns
        grid-template-columns: 50% 50% ;
        grid-template-rows: auto auto;
        // spaces between blocks
        grid-gap: 50px;
        color: #555555;
    }
    .theteam{
        width:80%;
        height: 80%;
    }

    .grid-container7{
        background-color: black;
        color: white;
        
        height: 200px;;
    }
    
    .g7-container{
        display: grid;
        // columns
        grid-template-columns: 25% 25% 25% 25%;
        // spaces between blocks
        grid-gap: 20px;
        color: white;
        padding-bottom: 10%;
        
    }
    
    .g7-container div{
        padding: 1%; 
    }

    .counter-value{
        margin-top: 5%;
        border-top: 4px solid #e38f84;
        width: 12%;
        margin-left: 10%;
    }

    .grid-container10{
        color: #555555;
        padding-top: 5%;
        height: 377px;
       
    }
    
    .g10-content{
        display: grid;
        // columns
        grid-template-columns: 50% 50% ;
        // spaces between blocks
        grid-gap: 10px;
        color:#555555;
        padding-left: 15%;
       
    }
    
    .g10-content div{
        height: 200px;
        text-align: left;
        
    }
    .footer-hd{
        padding-left: 9%;
    }

    .grid-container11{
        background-color: white;
        color: white;
        padding-top: 7%
        
    }
    
    .g11-content{
        display: grid;
        // columns
        grid-template-columns: auto auto ;
        // spaces between blocks
        grid-gap: 10px;
        color: white;
        background-color: #e1918a;
       
    }
    
    .g11-content div{
        height: 40px;
        text-align: center;
    }

}

@media  (max-width: 765px){
    .grid-container2{
        display: grid;
        // columns
        grid-template-columns: 100%;
        // spaces between blocks
        grid-gap: 0;
        background-color:black;
        color: white;
        padding: 10%;
        height: 500px;
        
    }
    .searchbox{
        width: 10%;
    }
    
    .grid-container2 div{
        // background-color: red;
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
       
    }
    
    .grid3img{
        width: 100%;
        height: 100%;
    }
    .g3-content{
        display: grid;
        // columns
        grid-template-columns: 35% 30% 30%;
        // spaces between blocks
        grid-gap: 10px;
        color: #666666;
    }

    .grid-container4{
        color: #666666;
        padding-top: 3%;
        padding-left: 10%;
        height: 700px;
        background-color: #000000;
    }
    
    .g4-container{
        display: grid;
        // columns
        grid-template-columns: auto auto auto auto;
        // spaces between blocks
        grid-gap: 20px;
        padding-right: 10%;
        padding-bottom: 10%;
    }
    
    .g4-container div{
        color: white;
        height: 200px;
        text-align: center;
        padding: 1%;
        
    }

    .grid-container6{
        background-color: white;
        color: #555555;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 4%;
    }
    .g6-container{
        display: grid;
        // columns
        grid-template-columns: 50% 50% ;
        grid-template-rows: auto auto;
        // spaces between blocks
        grid-gap: 50px;
        color: #555555;
    }
    .theteam{
        width:70%;
        height: 70%;
    }

}



@media  (max-width: 685px){
    .g3-content{
        display: grid;
        // columns
        grid-template-columns: 100%;
        // spaces between blocks
        grid-gap: 10px;
        color: #666666;
        height: 2000px;
        
    }
    .grid3img{
        width: 100%;
        height: 100%;
    }

    .item1{
        grid-column: span 1;
        grid-row: span 1;
    }
    .item2{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    .item3{
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .grid-container4{
        color: #666666;
        padding-top: 3%;
        padding-left: 10%;
        height: 400px;
        background-color: #000000;
        height: 1024px;
    }
    
    .g4-container{
        display: grid;
        // columns
        grid-template-columns: auto ;
        // spaces between blocks
        grid-gap: 20px;
        padding-right: 10%;
        padding-bottom: 10%;
        height: 1000px
    }
    
    .g4-container div{
        color: white;
        height: 200px;
        text-align: center;
        padding: 1%;
        
    }
}